body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
  display: none;
}

.resume {
  max-width: 600px;
  margin: 50px auto;
  background-color: #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.profile {
  position: absolute;
  right: 10px;
}

.profile img {
  border-radius: 10px;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info h1 {
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
}

.contact-info h2 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #3d3d3d;
  text-transform: uppercase;
}

.contact-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.main-content {
  display: flex;
  background-color: #eeeeee;
}

.left-column,
.right-column {
  flex: 1;
  padding: 0 10px;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.education-item,
.work-item,
.course-item,
.awards-item {
  margin-bottom: 20px;
}

h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .resume {
    max-width: 100%;
    margin: 20px;
    padding: 15px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile {
    position: static;
    display: flex;
  }

  .profile img {
    width: 30%;
    margin-top: 10px;
    height: auto;
  }

  .contact-info h1 {
    font-size: 28px;
  }

  .contact-info h2 {
    font-size: 16px;
  }

  .contact-info p {
    font-size: 12px;
  }

  .main-content {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    padding: 0;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  p,
  ul li {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .resume {
    margin: 10px;
    padding: 10px;
  }

  .contact-info h1 {
    font-size: 24px;
  }

  .contact-info h2 {
    font-size: 14px;
  }

  .contact-info p {
    font-size: 11px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 12px;
  }

  p,
  ul li {
    font-size: 10px;
  }
}
