body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.resume {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.resume:hover {
  transform: scale(1.03);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e2e2e2;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease-in-out;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.profile img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.contact-info h1 {
  margin: 0;
  font-size: 42px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: color 0.4s ease-in-out;
}

.contact-info h1:hover {
  color: #ff6347;
}

.contact-info h2 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #555;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}

.contact-info h2:hover {
  color: #ff6347;
}

.contact-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #777;
  transition: color 0.4s ease-in-out;
}

.contact-info p:hover {
  color: #333;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  flex: 1;
  padding: 0 20px;
}

h3 {
  font-size: 24px;
  color: #222;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.4s ease-in-out;
}

h3:hover {
  color: #ff6347;
}

h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ff6347;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h3:hover:after {
  width: 80px;
}

.education-item,
.work-item,
.course-item,
.awards-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.education-item:hover,
.work-item:hover,
.course-item:hover,
.awards-item:hover {
  background-color: #f0f0f0;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

p {
  margin: 5px 0;
  font-size: 15px;
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  font-size: 15px;
  color: #555;
  transition: color 0.4s ease-in-out;
}

ul li:hover {
  color: #333;
}

ul li::before {
  content: "✔";
  color: #ff6347;
  padding-right: 10px;
  transition: color 0.4s ease-in-out;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff6347;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .resume {
    max-width: 100%;
    margin: 20px;
    padding: 15px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile img {
    width: 100px;
    height: 100px;
  }

  .contact-info h1 {
    font-size: 36px;
  }

  .contact-info h2 {
    font-size: 18px;
  }

  .contact-info p {
    font-size: 14px;
  }

  .main-content {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    padding: 0;
  }
  .skills ul {
    padding-left: 10px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  p,
  ul li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .resume {
    margin: 10px;
    padding: 10px;
  }

  .contact-info h1 {
    font-size: 28px;
  }

  .contact-info h2 {
    font-size: 16px;
  }
  .contact-info p {
    font-size: 10px;
  }
}
